# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: M.Tariq Javeed                              ID: F2022393014

In [1]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]

In [3]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.
b = [x ** 2 for x in a]
b

[25, 100, 225, 400]

In [4]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.

b1 = [x ** 2 for x in a if x != 10]
b1

[25, 225, 400]

In [8]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1? 
import random

sample = random.random()
sample

0.20536651873108924

In [6]:
import numpy as np

In [13]:
#(ii)	Write the command to slice the column 1? 
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

c1 = [row[0] for row in data]
c1

[1, 4, 7]

In [12]:
#(iii)	Write the command of first and third elements in column 1?
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

el = [row[0] for i, row in enumerate(data) if i in (0, 2)]
el

[1, 7]

In [14]:
#(iv)	 Write the command of returns an 8 x 4 array
ar = np.empty((8, 4))
ar

array([[1.  , 0.  , 0.16, 1.  ],
       [1.  , 0.  , 0.  , 1.  ],
       [1.  , 1.  , 0.  , 1.  ],
       [0.  , 1.  , 0.  , 1.  ],
       [0.  , 1.  , 1.  , 1.  ],
       [0.  , 0.  , 1.  , 1.  ],
       [1.  , 0.  , 1.  , 1.  ],
       [1.  , 0.  , 0.75, 1.  ]])

In [15]:
import pandas as pd

In [16]:
#Q3. Create a Series that looks like this below:
# Flour     4 cups
# Milk       1 cup
# Eggs     2 large
# Spam       1 can
# Name: Dinner, dtype: object

import pandas as pd

data = {'Flour': '4 cups',
        'Milk': '1 cup',
        'Eggs': '2 large',
        'Spam': '1 can'}

series_dinner = pd.Series(data, name='Dinner')
series_dinner

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [17]:
# Q  4 Create the Data frame  as th output[27]
import pandas as pd

data = {'Ingredient': ['Flour', 'Milk', 'Eggs', 'Spam'],
        'Quantity': ['4 cups', '1 cup', '2 large', '1 can']}

df = pd.DataFrame(data)
df

  Ingredient Quantity
0      Flour   4 cups
1       Milk    1 cup
2       Eggs  2 large
3       Spam    1 can

In [ ]:
df

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [24]:
import pandas as pd

data = {'Apples': [35, 41],
        'Bananas': [21, 34]}

df = pd.DataFrame(data, index=['2017Sales', '2018Sales'])
df
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [ ]:
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [19]:
#Q4(i)	Compute the appropriate missing value in income attribute?
import pandas as pd
import numpy as np

data = {'Age': [23.0, 39.0, 45.0, np.nan],
        'Gender': ['M', 'F', 'F', 'M'],
        'Income': [24200.0, np.nan, 45390.0, np.nan],
        'Religion': ['Muslim', 'Christian', np.nan, 'Muslim']}

df = pd.DataFrame(data)

# Imputation with mean
mean_income = df['Income'].mean()
df['Income'].fillna(mean_income, inplace=True)
df.head()

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F  34795.0  Christian
2  45.0      F  45390.0        NaN
3   NaN      M  34795.0     Muslim

In [21]:
#(ii)	Compute the appropriate missing values in religion attribute? 
import pandas as pd
import numpy as np

data = {'Age': [23.0, 39.0, 45.0, np.nan],
        'Gender': ['M', 'F', 'F', 'M'],
        'Income': [24200.0, np.nan, 45390.0, np.nan],
        'Religion': ['Muslim', 'Christian', np.nan, 'Muslim']}

df = pd.DataFrame(data)

# Imputation with median
mode = df['Religion'].mode()[0]
df['Religion'].fillna(mode, inplace=True)
df.head()

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0     Muslim
3   NaN      M      NaN     Muslim

In [22]:
#(iii)	Drop the columns where any of the elements is nan
import pandas as pd
import numpy as np

data = {'Age': [23.0, 39.0, 45.0, np.nan],
        'Gender': ['M', 'F', 'F', 'M'],
        'Income': [24200.0, np.nan, 45390.0, np.nan],
        'Religion': ['Muslim', 'Christian', np.nan, 'Muslim']}

df = pd.DataFrame(data)

# Drop columns with any NaN values
df_dropped = df.dropna(axis=1)
df_dropped

  Gender
0      M
1      F
2      F
3      M

In [23]:
#(iv)	Keep only the rows with at least 2 non-na values
import pandas as pd
import numpy as np

data = {'Age': [23.0, 39.0, 45.0, np.nan],
        'Gender': ['M', 'F', 'F', 'M'],
        'Income': [24200.0, np.nan, 45390.0, np.nan],
        'Religion': ['Muslim', 'Christian', np.nan, 'Muslim']}

df = pd.DataFrame(data)

# Keep rows with at least 2 non-NaN values
df_filtered = df.dropna(thresh=2)
df_filtered

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim